echo flask > requirements.txt
echo tensorflow >> requirements.txt
echo keras >> requirements.txt
echo numpy >> requirements.txt
echo pillow >> requirements.txt
echo werkzeug >> requirements.txt
echo matplotlib >> requirements.txt
echo opencv-python >> requirements.txt
echo scikit-learn >> requirements.txt
echo pandas >> requirements.txt
